.box {
position:absolute;
top:50%;
left:50%;
width:0px;
height:0px;
overflow:auto;
}

.boxdiv {
-webkit-transition-property:width, left, top, height, -webkit-transform;
-webkit-transition-duration: 0.6s;
-webkit-transition-timing-function:ease;
-moz-transition-property:width, left, top, height, -moz-transform;
-moz-transition-duration: 0.6s;
-moz-transition-timing-function:ease;
transition-property:width, left, top, height, transform;
transition-duration: 0.6s;
transition-timing-function:ease;
}

.box.identifiee, .box.dragged {
z-index:2;
}

.boxdiv.flipped_animation {
-webkit-transform:rotateY(90deg);
-moz-transform:rotateY(90deg);
transform:rotateY(90deg);
}

#visual_drag{
position:fixed;
z-index:10001;
background:rgba(0,0,0,0.5);
width:26px;
height:26px;
color:white;
opacity:0.9;
border-radius:5px;
box-shadow:0px 0px 3px rgba(0,0,0,0.5);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor:move;
}

.boxdiv .back {
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor:move;
}
